# Auto detect text files and perform LF normalization
* text=auto

# Code
*.js text
*.ts text
*.jsx text
*.tsx text
*.json text
*.css text
*.html text
*.md text
*.py text
*.sh text eol=lf
*.yml text
*.yaml text

# Assorted
*.bat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.zip binary
*.tar.gz binary
